@{
    ViewData["Title"] = "Person Information";
}

<h3>Choose a file for the uploading</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Upload" />
</form>
