@{
    ViewData["Title"] = "Person Information";
}

<h3 style="text-align:center">Choose a file for the uploading</h3>

<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data" style="text-align:center">
    <input type="file" name="uploadedFile" style="margin:20px"/><br>
    <input type="submit" value="Upload"   />
</form>
